
   .product-cart {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #ccc;
  }
  
  .image {
    flex: 1;
    margin-right: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  
  .cart-detail {
    flex: 2;
  }
  
  .cart-detail h1 {
    font-size: 20px;
    margin: 0;
  }
  
  .cart-detail p {
    margin: 0;
  }
  
  .add-cart-link {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 10px;
  }
  
  .add-cart-link:hover {
    background-color: #3e8e41;
  }
  
  .remove-link {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .remove-link:hover {
    background-color: #d81b00;
  }
  
  .product-list {
    margin-top: 20px;
  }
  
  .product-list h2 {
    margin-top: 0;
  }
  
  .total-price {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  