/* Product Container */
/* .product-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Product Cover Image */
.product-cover-image {
  width: 100%;
  height: 40vh;
}

/* Product List Container */
.product-list-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Product List Header */
.product-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

/* Product List Title */
.product-list-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Product Searchbar */
.product-searchbar {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 250px;
}

/* Product Filter Link */
.product-filter-link {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* Product List */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1000px;
}

/* Product Card */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 450px;
}

/* Product Image */
.product-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Product Image img */
.product-image img {
  max-height: 200px;
  max-width: 100%;
}

/* Product Details */
.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Product Name */
.product-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

/* Product Price */
.product-price {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

/* Product Category */
.product-category {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

/* Product Quantity */
.product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Quantity Button */
.quantity-button {
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #333;
  font-size: 16px;
  padding: 8px 12px;
  margin: 0 10px;
  cursor: pointer;
}

/* Add Product Button */
.add-product-button {
  background-color: #333;
  color: #fff
}


