form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #0077cc;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  div {
    margin-bottom: 1rem;
  }
  
  div:last-of-type {
    margin-bottom: 2rem;
  }
  /* https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=900&t=st=1677306801~exp=1677307401~hmac=0fbb4a9da413d27c22804437911a32eb0c585b913bc4c350cce66a3a29b7d10c */
  body{
  background-image: url("https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=900&t=st=1677306801~exp=1677307401~hmac=0fbb4a9da413d27c22804437911a32eb0c585b913bc4c350cce66a3a29b7d10c");
  }
  